<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Online Quiz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
       
       <div>
            <h1>Welcome To Online Quiz</h1>

            <div><h3>Instructions</h3></div>

            <ul>

                <li>Each quiz will have 10 Questions. 
                <li>The student should attend all the 10 questions.
                <li>After the completion of the fist question you can navigate to the next one

            </ul>



        </div>

        <script src="" async defer></script>
    </body>
</html>